# dependencies
/lab2/node_modules
/lab2b-ticktoe/node_modules
/lab3/node_modules
/lab3multi/node_modules
/lab4/node_modules
/lab5/node_modules
/lab6/node_modules
/lab7/node_modules
/lab8/node_modules
/lab8-TS/node_modules
/lab9/node_modules
/lab10/node_modules