
$bg-left-color: rgb(122, 211, 218);
$button-color: rgb(22, 222, 139);
$bg-gradient: linear-gradient(0deg, rgba(18,150,170,1) 0%, rgba(0,255,190,1) 100%);

// TicTacToe

$field-color: rgba(211, 255, 198, 0.966);
$field-hover-color: rgba(161, 248, 134, 0.966);